<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>JCI Conversation Report</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 lable-input" style="margin-top: 0px;">Enviroment:</div>
            <div class="col-sm-10">
                <select class="form-control" [(ngModel)] = "selectEnv">
                    <option *ngFor = "let o of optionEnv">{{o.name}}</option>
                </select>
            </div>
            <div class="col-sm-2 lable-input ">Deployment ID:</div>
            <div class="col-sm-10 input-content ">
                <input class="form-control" placeholder="Ex: Production#7, Dev#2,..." type="text" [(ngModel)]="deploymentId">
            </div>
            <div class="col-sm-2 lable-input ">From Date:</div>
            <div class="col-sm-10 input-content ">
                <input class="form-control" placeholder="Ex: 2019-07-17"type="text" [(ngModel)]="fromDate">
            </div>
            <div class="col-sm-2 lable-input ">To Date:</div>
            <div class="col-sm-10 input-content ">
                <input class="form-control" placeholder="Ex: 2019-07-17"type="text" type="text" [(ngModel)]="toDate">
            </div>
            <div class="col-sm-2 lable-input ">Time Zone:</div>
            <div class="col-sm-10">
                    <select class="form-control" [(ngModel)] = "selectTimeZone">
                        <option *ngFor = "let i of optionTimezone">{{i.name}}</option>
                    </select>
                </div>
            <div class="col-sm-6 ">
                <button class="btn-secondary btn btn-export" (click)="sendRequestPost(deploymentId,fromDate,toDate)">Export CSV</button>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</body>

</html>